@use "./variables" as *;

// 全局样式重置
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.5;
  color: $text-primary;
  background-color: #f7f7f7;
}

// 通用样式类
.card {
  @include card;
}

.hover-effect {
  @include hover-effect;
}

.flex-center {
  @include flex-center;
}

// 文字样式
.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-success {
  color: $primary-color;
}

.text-error {
  color: $error-color;
}

// 间距工具类
@each $key,
  $value
    in (
      "xs": $spacing-xs,
      "sm": $spacing-sm,
      "md": $spacing-md,
      "lg": $spacing-lg,
      "xl": $spacing-xl
    )
{
  .m-#{$key} {
    margin: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .p-#{$key} {
    padding: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
